In [31]:
import os
import shutil

files_to_move = [
    "df_sample.csv",
    "df_sample_no_index.csv",
    "df_sample.xlsx",
    "df_sample.json"
]

target_folder = "data"

# í´ë”ê°€ ì—†ë‹¤ë©´ ìƒì„±
os.makedirs(target_folder, exist_ok=True)

# í˜„ì¬ í´ë” ì •ë³´ ì¶œë ¥
print(f"í˜„ì¬ ì‘ì—… í´ë”: {os.getcwd()}")
print(f"ëŒ€ìƒ í´ë” ê²½ë¡œ: {os.path.abspath(target_folder)}\n")

# ì´ë™ ì‹¤í–‰
for file in files_to_move:
    src = file.strip()
    dst = os.path.join(target_folder, src)

    if os.path.exists(src):
        try:
            shutil.move(src, dst)
            print(f"âœ… {src} â†’ {dst}")
        except Exception as e:
            print(f"âš ï¸ {src} ì´ë™ ì¤‘ ì˜¤ë¥˜: {e}")
    else:
        print(f"âŒ {src} ì—†ìŒ â€” ê±´ë„ˆëœ€")

í˜„ì¬ ì‘ì—… í´ë”: C:\Users\607\ai
ëŒ€ìƒ í´ë” ê²½ë¡œ: C:\Users\607\ai\data

âœ… df_sample.csv â†’ data\df_sample.csv
âœ… df_sample_no_index.csv â†’ data\df_sample_no_index.csv
âœ… df_sample.xlsx â†’ data\df_sample.xlsx
âœ… df_sample.json â†’ data\df_sample.json

In [63]:
import os
import pandas as pd

# 1) ì‘ì—… ë””ë ‰í„°ë¦¬Â·data í´ë” í™•ì¸
print("í˜„ì¬ ì‘ì—… ë””ë ‰í„°ë¦¬:", os.getcwd())
print("data í´ë” ë‚´ìš©:", os.listdir("data"))

# 2) íŒŒì¼ ê²½ë¡œ ì§€ì •
s_name = "./data/df_sample.csv"  
print("ì½ì„ íŒŒì¼:", s_name, "| ì¡´ì¬ ì—¬ë¶€:", os.path.isfile(s_name))

# 3) ìš°ì„  í—¤ë”ì™€ ì»¬ëŸ¼ëª… í™•ì¸
tmp = pd.read_csv(s_name)
print("í—¤ë” ë° ì»¬ëŸ¼ëª…:", tmp.columns.tolist())
print(tmp.head())

# 4) ì ì ˆí•œ ì¸ë±ìŠ¤ ì»¬ëŸ¼ ì§€ì •
#    â€¢ ì»¬ëŸ¼ëª…ì´ 'c0'ë¡œ ë³´ì´ë©´ index_col="c0"
#    â€¢ ì•„ë‹ˆë©´ ì²« ë²ˆì§¸ ì»¬ëŸ¼ì„ ì¸ë±ìŠ¤ë¡œ ì“°ë ¤ë©´ index_col=0
if "c0" in tmp.columns:
    sample = pd.read_csv(s_name, header=0, index_col="c0")
else:
    sample = pd.read_csv(s_name, header=0, index_col=0)

# 5) ê²°ê³¼ ì¶œë ¥
print("\nì¸ë±ìŠ¤ ì„¤ì • í›„:")
print(sample.head())

í˜„ì¬ ì‘ì—… ë””ë ‰í„°ë¦¬: C:\Users\607\ai
data í´ë” ë‚´ìš©: ['df_excelwriter.xlsx', 'df_sample.csv', 'df_sample.json', 'df_sample.xlsx', 'df_sample_columns.json', 'df_sample_index.json', 'df_sample_no_index.csv', 'df_sample_no_index.xlsx', 'df_sample_records.json', 'df_sample_split.json', 'df_sample_values.json', 'read_csv_sample.csv', 'read_json_sample.json', 'sample.html', 'test.csv', 'test.json', 'ë‚¨ë¶í•œë°œì „ì „ë ¥ëŸ‰.xlsx']
ì½ì„ íŒŒì¼: ./data/df_sample.csv | ì¡´ì¬ ì—¬ë¶€: True
í—¤ë” ë° ì»¬ëŸ¼ëª…: ['name', 'algol', 'basic', 'c++']
    name algol basic c++
0  Jerry     A     C  B+
1   Riah    A+     B   C
2   Paul     B    B+  C+

ì¸ë±ìŠ¤ ì„¤ì • í›„:
      algol basic c++
name
Jerry     A     C  B+
Riah     A+     B   C
Paul      B    B+  C+

In [59]:
import pandas as pd
import os

# 1) í˜„ì¬ ì‘ì—… ë””ë ‰í„°ë¦¬ í™•ì¸
print("í˜„ì¬ ì‘ì—… ë””ë ‰í„°ë¦¬:", os.getcwd())

# 2) íŒŒì¼ì´ ì‹¤ì œ ì¡´ì¬í•˜ëŠ”ì§€ ì ê²€
file_path = "./ë‚¨ë¶í•œë°œì „ì „ë ¥ëŸ‰.xlsx"
print("íŒŒì¼ ì¡´ì¬ ì—¬ë¶€:", os.path.isfile(file_path))

# 3) ì—‘ì…€ ì½ê¸° (engine ëª…ì‹œ)
ex1 = pd.read_excel(file_path, engine="openpyxl")

# 4) ìƒìœ„ 5ê°œ í–‰ í™•ì¸
print(ex1.head())

í˜„ì¬ ì‘ì—… ë””ë ‰í„°ë¦¬: C:\Users\607\ai
íŒŒì¼ ì¡´ì¬ ì—¬ë¶€: True
  ì „ë ¥ëŸ‰ (ì–µã¾h) ë°œì „ ì „ë ¥ë³„  1990  1991  1992  1993  1994  1995  1996  1997  ...  2007  \
0        ë‚¨í•œ     í•©ê³„  1077  1186  1310  1444  1650  1847  2055  2244  ...  4031
1       NaN     ìˆ˜ë ¥    64    51    49    60    41    55    52    54  ...    50
2       NaN     í™”ë ¥   484   573   696   803  1022  1122  1264  1420  ...  2551
3       NaN    ì›ìë ¥   529   563   565   581   587   670   739   771  ...  1429
4       NaN    ì‹ ì¬ìƒ     -     -     -     -     -     -     -     -  ...     -

   2008  2009  2010  2011  2012  2013  2014  2015  2016
0  4224  4336  4747  4969  5096  5171  5220  5281  5404
1    56    56    65    78    77    84    78    58    66
2  2658  2802  3196  3343  3430  3581  3427  3402  3523
3  1510  1478  1486  1547  1503  1388  1564  1648  1620
4     -     -     -     -    86   118   151   173   195

[5 rows x 29 columns]

In [11]:
df2 = pd.read.json("./data/read_json_sample.json", orient='index')
df2

AttributeError: module 'pandas' has no attribute 'read'

In [27]:
import pandas as pd

df1 = pd.DataFrame({
    'name': ['í™ê¸¸ë™', 'ì´ìˆœì‹ '],
    'age':  [10,      20]
})

df1.to_csv('user_name_age.csv', index=False, encoding='utf-8-sig')
df1

  name  age
0  í™ê¸¸ë™   10
1  ì´ìˆœì‹    20

In [41]:
import pandas as pd

csv1 = pd.read_csv('user_name_age.csv', dtype={'name': str, 'age': int})
csv1

  name  age
0  í™ê¸¸ë™   10
1  ì´ìˆœì‹    20

In [49]:
import os
import pandas as pd

# í˜„ì¬ ì‘ì—… ë””ë ‰í„°ë¦¬ í™•ì¸
print("í˜„ì¬ ì‘ì—… ë””ë ‰í„°ë¦¬:", os.getcwd())

# í˜„ì¬ ë””ë ‰í„°ë¦¬ì˜ íŒŒì¼ ë° í´ë” ëª©ë¡ í™•ì¸ (í•„ìš” ì‹œ ì£¼ì„ í•´ì œ)
# print(os.listdir())

# ê²½ë¡œì— íŒŒì¼ì´ ì‹¤ì œë¡œ ìˆëŠ”ì§€ í™•ì¸ (í•„ìš” ì‹œ ê²½ë¡œ ìˆ˜ì •)
file_path = './data/ë‚¨ë¶í•œë°œì „ì „ë ¥ëŸ‰.csv'

# íŒŒì¼ ì¡´ì¬ ì—¬ë¶€ í™•ì¸
if os.path.exists(file_path):
    # CSV íŒŒì¼ì„ ì½ì–´ì˜µë‹ˆë‹¤ (í•œê¸€ ì¸ì½”ë”©: cp949 ì‚¬ìš©)
    q2 = pd.read_csv(file_path, encoding='cp949')

    # ë°ì´í„°í”„ë ˆì„ì˜ ì²« 5í–‰ì„ ì¶œë ¥í•˜ì—¬ ë‚´ìš©ì„ í™•ì¸í•©ë‹ˆë‹¤
    print(q2.head())
else:
    print(f"âŒ íŒŒì¼ì´ ì¡´ì¬í•˜ì§€ ì•ŠìŠµë‹ˆë‹¤: {file_path}")

í˜„ì¬ ì‘ì—… ë””ë ‰í„°ë¦¬: C:\Users\607\data
âŒ íŒŒì¼ì´ ì¡´ì¬í•˜ì§€ ì•ŠìŠµë‹ˆë‹¤: ./data/ë‚¨ë¶í•œë°œì „ì „ë ¥ëŸ‰.csv

In [55]:
import os
import pandas as pd

print("ğŸ“‚ í˜„ì¬ ì‘ì—… ë””ë ‰í„°ë¦¬:", os.getcwd())

file_path = 'ë‚¨ë¶í•œë°œì „ì „ë ¥ëŸ‰.xlsx'

if os.path.exists(file_path):
    df = pd.read_excel(file_path)
    print("âœ… ì—‘ì…€ íŒŒì¼ ë¶ˆëŸ¬ì˜¤ê¸° ì„±ê³µ!")
    print(df.head())
else:
    print(f"âŒ íŒŒì¼ì´ ì¡´ì¬í•˜ì§€ ì•ŠìŠµë‹ˆë‹¤: {file_path}")

ğŸ“‚ í˜„ì¬ ì‘ì—… ë””ë ‰í„°ë¦¬: C:\Users\607\data
âœ… ì—‘ì…€ íŒŒì¼ ë¶ˆëŸ¬ì˜¤ê¸° ì„±ê³µ!
  ì „ë ¥ëŸ‰ (ì–µã¾h) ë°œì „ ì „ë ¥ë³„  1990  1991  1992  1993  1994  1995  1996  1997  ...  2007  \
0        ë‚¨í•œ     í•©ê³„  1077  1186  1310  1444  1650  1847  2055  2244  ...  4031
1       NaN     ìˆ˜ë ¥    64    51    49    60    41    55    52    54  ...    50
2       NaN     í™”ë ¥   484   573   696   803  1022  1122  1264  1420  ...  2551
3       NaN    ì›ìë ¥   529   563   565   581   587   670   739   771  ...  1429
4       NaN    ì‹ ì¬ìƒ     -     -     -     -     -     -     -     -  ...     -

   2008  2009  2010  2011  2012  2013  2014  2015  2016
0  4224  4336  4747  4969  5096  5171  5220  5281  5404
1    56    56    65    78    77    84    78    58    66
2  2658  2802  3196  3343  3430  3581  3427  3402  3523
3  1510  1478  1486  1547  1503  1388  1564  1648  1620
4     -     -     -     -    86   118   151   173   195

[5 rows x 29 columns]

In [83]:
import pandas as pd
df = pd.read_excel('ë‚¨ë¶í•œë°œì „ì „ë ¥ëŸ‰.xlsx', sheet_name='data', index_col=1, skiprows=2)
df

,Unnamed: 0,64,51,49,60,41,55,52,54,61,...,50,56.1,56.2,65,78,77,84,78.1,58,66
ìˆ˜ë ¥,,,,,,,,,,,,,,,,,,,,,
í™”ë ¥,NaN,484,573,696,803,1022,1122,1264,1420,1195,...,2551,2658,2802,3196,3343,3430,3581,3427,3402,3523
ì›ìë ¥,NaN,529,563,565,581,587,670,739,771,897,...,1429,1510,1478,1486,1547,1503,1388,1564,1648,1620
ì‹ ì¬ìƒ,NaN,-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,86,118,151,173,195
í•©ê³„,ë¶í•œ,277,263,247,221,231,230,213,193,170,...,236,255,235,237,211,215,221,216,190,239
ìˆ˜ë ¥,NaN,156,150,142,133,138,142,125,107,102,...,133,141,125,134,132,135,139,130,100,128
í™”ë ¥,NaN,121,113,105,88,93,88,88,86,68,...,103,114,110,103,79,80,82,86,90,111
ì›ìë ¥,NaN,-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-

In [85]:
import pandas as pd
df = pd.read_excel('ë‚¨ë¶í•œë°œì „ì „ë ¥ëŸ‰.xlsx', sheet_name='data', na_values=['-','N/A'])
df

,ì „ë ¥ëŸ‰ (ì–µã¾h),ë°œì „ ì „ë ¥ë³„,1990,1991,1992,1993,1994,1995,1996,1997,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
0,ë‚¨í•œ,í•©ê³„,1077.0,1186.0,1310.0,1444.0,1650.0,1847.0,2055.0,2244.0,...,4031.0,4224.0,4336.0,4747.0,4969.0,5096.0,5171.0,5220.0,5281.0,5404.0
1,NaN,ìˆ˜ë ¥,64.0,51.0,49.0,60.0,41.0,55.0,52.0,54.0,...,50.0,56.0,56.0,65.0,78.0,77.0,84.0,78.0,58.0,66.0
2,NaN,í™”ë ¥,484.0,573.0,696.0,803.0,1022.0,1122.0,1264.0,1420.0,...,2551.0,2658.0,2802.0,3196.0,3343.0,3430.0,3581.0,3427.0,3402.0,3523.0
3,NaN,ì›ìë ¥,529.0,563.0,565.0,581.0,587.0,670.0,739.0,771.0,...,1429.0,1510.0,1478.0,1486.0,1547.0,1503.0,1388.0,1564.0,1648.0,1620.0
4,NaN,ì‹ ì¬ìƒ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,86.0,118.0,151.0,173.0,195.0
5,ë¶í•œ,í•©ê³„,277.0,263.0,247.0,221.0,231.0,230.0,213.0,193.0,...,236.0,255.0,235.0,237.0,211.0,215.0,221.0,216.0,190.0,239.0
6,NaN,ìˆ˜ë ¥,156.0,150.0,142.0,133.0,138.0,142.0,125.0,107.0,...,133.0,141.0,125.0,134.0,132.0,135.0,139.0,130.0,100.0,128.0
7,NaN,í™”ë ¥,121.0,113.0,105.0,88.0,93.0,88.0,88.0,86.0,...,103.0,114.0,110.0,103.0,79.0,80.0,82.0,86.0,90.0,111.0
8,NaN,ì›ìë ¥,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [101]:
df=pd.read_json('user_1.json')
df

    ì´ë¦„  ë‚˜ì´
0  ì´ìˆœì‹   25
1  í™ê¸¸ë™  30

In [105]:
df=pd.read_json('user_1.json',orient='columns')
df

    ì´ë¦„  ë‚˜ì´
0  ì´ìˆœì‹   25
1  í™ê¸¸ë™  30

In [107]:
df=pd.read_json('user_1.json',orient='values')
df

    ì´ë¦„  ë‚˜ì´
0  ì´ìˆœì‹   25
1  í™ê¸¸ë™  30

In [119]:
tables = pd.read_html('sample.html')
tables
print(len(tables))
for i in range(len(tables)) :
    print("tables[%s]" % i)
    print(tables[i])
    print("\n")
df = tables[1]
df = df.set.index(['name'])
df

2
tables[0]
   Unnamed: 0  c0  c1  c2  c3
0           0   0   1   4   7
1           1   1   2   5   8
2           2   2   3   6   9


tables[1]
         name  year        developer  opensource
0       NumPy  2006  Travis Oliphant        True
1  matplotlib  2003   John D. Hunter        True
2      pandas  2008    Wes Mckinneye        True

AttributeError: 'DataFrame' object has no attribute 'set'