In [6]:
import pandas as pd

exam_data = {
    '이름': ['서준', '우현', '인아'],
    '수학': [90, 80, 70],
    '영어': [98, 89, 95],
    '음악': [85, 95, 100],
    '체육': [100, 90, 90]
}

df = pd.DataFrame(exam_data)

# 인덱스를 숫자로 다시 설정
df.index = pd.Index([1, 2, 3])
print(df)

   이름  수학  영어   음악   체육
1  서준  90  98   85  100
2  우현  80  89   95   90
3  인아  70  95  100   90

In [12]:
#행 인덱스 재배열 reindex()
#예제 1-17

import pandas as pd

# ✅ 딕셔너리는 중괄호 {}로
dict_data = {'c0': [1, 2, 3],'c1': [4, 5, 6],'c2': [7, 8, 9],'c3': [10, 11, 12],'c4': [13, 14, 15]}

# ✅ DataFrame 생성
df = pd.DataFrame(dict_data, index=['r0', 'r1', 'r2'])
print(df)

    c0  c1  c2  c3  c4
r0   1   4   7  10  13
r1   2   5   8  11  14
r2   3   6   9  12  15

In [14]:
#문제 1
import pandas as pd

exam_data = {
    '이름': ['철수', '영희', '민수'],
    '국어': [90, 70, 85],
    '영어': [85, 95, 80],
    '수학': [80, 100, 90],
}

df = pd.DataFrame(exam_data)

print(df)

   이름  국어  영어   수학
0  철수  90  85   80
1  영희  70  95  100
2  민수  85  80   90

In [15]:
#문제 2
# 상품 주문 데이터 구성

order_data = {
    '주문번호': [1001, 1002, 1003],
    '상품명': ['키보드', '모니터', '마우스'],
    '수량': [2, 1, 3],
    '단가': [30000, 150000, 20000]
}

df = pd.DataFrame(order_data)

print(df)

   주문번호  상품명  수량      단가
0  1001  키보드   2   30000
1  1002  모니터   1  150000
2  1003  마우스   3   20000

In [18]:
#문제 3
#아래 데이터를 가지고 DataFrame을 만들고,
#행 인덱스를 '학생명' 으로, 열 이름을 한글로 변경 하세요.
#열 이름을 ["나이", "반"] 으로 변경하세요.

exam_data = {
    "Name": ["철수", "영희", "민수"],
    "Age": [16, 17, 16],
    "Class": ["A", "B", "A"]
}

df = pd.DataFrame(exam_data)

print(df)

  Name  Age Class
0   철수   16     A
1   영희   17     B
2   민수   16     A

In [25]:
#고객 주문 데이터에서 행과 열 삭제하기
#아래 데이터를 pandas DataFrame으로 만들고,
#특정 행과 열을 삭제해보세요.

import pandas as pd

data = {
    '주문번호': [1001, 1002, 1003],
    '고객명': ['김철수', '이영희', '박민수'],
    '상품명': ['키보드', '모니터', '마우스'],
    '수량': [2, 1, 3],
    '가격': [30000, 150000, 20000]
}

# DataFrame 생성
df = pd.DataFrame(data)
df.set_index('주문번호', inplace=True)
df = df.drop(index=1002)
df = df.drop(columns='가격')

print(df)

      고객명  상품명  수량
주문번호
1001  김철수  키보드   2
1003  박민수  마우스   3

In [26]:
#문제1
student_data = { '이름':['철수','영희','민수'], '국어':[90,70,85], '영어':[85,95,80], '수학':[80,100,90] }
df = pd.DataFrame( student_data )
df

   이름  국어  영어   수학
0  철수  90  85   80
1  영희  70  95  100
2  민수  85  80   90

In [27]:
#문제2
product_order_data = { '주문번호':[1001, 1002, 1003], '상품명':['키보드', '모니터','마우스'], '수량':[2,1,3], '단가':[30000,150000,20000] }
df = pd.DataFrame( product_order_data )
df

   주문번호  상품명  수량      단가
0  1001  키보드   2   30000
1  1002  모니터   1  150000
2  1003  마우스   3   20000

In [32]:
# 문제3) 행인덱스/열이름 설정하기 
# 학생 출석부 데이터
# 요구사항 
# 아래 데이터를 가지고 DataFrame을 만들고,
# 행 인덱스를 '학생명' 으로, 열 이름을 한글로 변경 하세요.
# 열 이름을 ["나이", "반"] 으로 변경하세요.

data3 = {"Name": ["철수", "영희", "민수"],
        "Age": [16, 17, 16],
        "Class": ["A", "B", "A"]
       }

df3 = pd.DataFrame(data3)
# 변수 = 데이터프레임.rename(columns = { 기존 이름 : 변경후 이름 , ...})
df3 = df3.rename(columns = {'Name':'학생명', 'Age':'나이','Class':'반'})
# 변수 = 데이터프레임.rename(index = { 기존 이름 : 변경후 이름 , ...})
df3_1 = df3.set_index(['학생명'])

df3_1

     나이  반
학생명
철수   16  A
영희   17  B
민수   16  A

In [29]:
# 문제4) 행/열삭제
# 고객 주문 데이터에서 행과 열 삭제하기
# 아래 데이터를 pandas DataFrame으로 만들고,
# 특정 행과 열을 삭제해보세요.

custom_data = { '주문번호':[1001, 1002, 1003], 
               '고객명':['김철수', '이영희', '박민수'], 
               '상품명': [ '키보드','모니터','마우스'], 
               '수량':[2,1,3], 
               '가격': [30000,150000, 20000] }

df = pd.DataFrame( custom_data )
drop_index = df [ df[ '주문번호' ] == 1002 ].index
drop_index
drop_df=df.drop( drop_index, axis=0)
drop_df
drop_가격 = df.drop( '가격', axis=1 )
drop_가격

   주문번호  고객명  상품명  수량
0  1001  김철수  키보드   2
1  1002  이영희  모니터   1
2  1003  박민수  마우스   3

In [33]:
#다른사람 출력예시
import pandas as pd
data = {'주문번호': ['1001', '1002', '1003'],
        '고객명': ['김철수', '이영희', '박민수'],
        '상품명': ['키보드', '모니터', '마우스'],
        '수량': [2, 1, 3],
        '가격': [3000, 150000, 20000]}
df = pd.DataFrame(data)
df2 = df.drop([1])
df3 = df2.drop('가격', axis=1)
df3

   주문번호  고객명  상품명  수량
0  1001  김철수  키보드   2
2  1003  박민수  마우스   3

In [30]:
# 문제5) 행/열 선택
#  쇼핑몰 주문 데이터
# 다음 데이터를 DataFrame으로 만들고,
# 행과 열을 선택해보세요!

shop_data = {
    "주문번호": [1001, 1002, 1003],
    "고객명": ["김철수", "이영희", "박민수"],
    "상품명": ["키보드", "모니터", "마우스"],
    "수량": [2, 1, 3],
    "가격": [30000, 150000, 20000]
}
df = pd.DataFrame( shop_data )
df
df=df.set_index('주문번호')
df.loc[1002] # 주문번호 1002의 상품명만 선택해서 출력

# 수량과 가격 열만 선택해서 모든 행 출력
df[ ['수량','가격'] ]

# 1~2번째 행과 '고객명', '상품명' 열만 선택해서 출력
df.iloc[ [1,2], [1,2] ]

      상품명  수량
주문번호
1002  모니터   1
1003  마우스   3

In [ ]:
# 문제6)  원소값 수정하기 
# 학생 성적 데이터 수정하기
# 다음 데이터를 DataFrame으로 만들고,
# 특정 원소 값을 수정하세요!

data = {
    '주문번호': [1001, 1002, 1003],
    '고객명': ['김철수', '이영희', '박민수'],
    '상품명': ['키보드', '모니터', '마우스'],
    '수량': [2, 1, 3],
    '가격': [30000, 150000, 20000]
}

# DataFrame 생성
df = pd.DataFrame(data)

# 인덱스 설정
df = df.set_index('주문번호')

# 행 삭제 (1002)
df = df.drop(index=1002)

# 열 삭제 ('가격')
df = df.drop(columns='가격')

# 출력
print(df)

In [ ]:
# 문제7
custom_order_data = {
    "주문번호": [1001, 1002, 1003],
    "고객명": ["김철수", "이영희", "박민수"],
    "상품명": ["키보드", "모니터", "마우스"],
    "수량": [2, 1, 3],
    "가격": [30000, 150000, 20000]
}

df = pd.DataFrame( custom_order_data )
# 주문번호를 인덱스로 설정
df = df.set_index( '주문번호' )
df
# 주문번호 1002에 해당하는 고객명과 상품명을 출력
df.loc[1002, ['고객명','상품명'] ]