In [1]:
import pandas as pd
data = {'name': ['jerry','Rich','Paul'],
        'algol': ['A','A+','B'],
        'basic':['C','B','B+'],
        'C++': ['B+','C','C+']}
df = pd.DataFrame(data)
df = df.set_index('name')
df

      algol basic C++
name
jerry     A     C  B+
Rich     A+     B   C
Paul      B    B+  C+

In [22]:
df.to_csv('./data/df_sample_0423.csv')
df.to_csv('./data/df_sample_0423.csv', index=False)

In [30]:
df.to_json('./data/df_sample_0423_basic.json')

In [28]:
df.to_json('./data/df_sample_0423_split.json', orient='split')
#index,columns, data로 분리해서 json 으로 저장한다

In [32]:
df.to_json('./data/df_sample_0423_records.json', orient='records')

In [34]:
df.to_json('./data/df_sample_0423_columns.json', orient='columns')

In [36]:
df.to_json('./data/df_sample_0423_index.json', orient='index')

In [56]:
# pandas 라이브러리를 pd라는 별칭으로 불러오기
import pandas as pd

# fruits.json 파일을 읽어와 데이터프레임으로 변환
# orient='index'는 JSON의 키를 데이터프레임의 인덱스로 처리하겠다는 뜻
df_test = pd.read_json('fruits.json', orient='index')

# 데이터프레임 출력
df_test

#키를 인덱스로 읽기
#json 자료
#{"0":{"name":"apple","price":3000},"1":{"name":"banana","price":2000},"2":{"name":"peach","price":3500}}

FileNotFoundError: File fruits.json does not exist

In [50]:
import pandas as pd

df_test = pd.read_json('./data/read_csv.json', orient='columns')
df_test

     name  price
0   apple   3000
1  banana   2000
2   peach   3500

In [52]:
import pandas as pd

df_test = pd.read_json('./data/read_csv_columns.json', orient='records')
df_test

     name  price
0   apple   3000
1  banana   2000
2   peach   3500

In [64]:
import pandas as pd

# 판다스 DataFrame() 함수로 데이터프레임 변환. 변수 df1, df2에 저장 
data1 = {'name' : [ 'Jerry', 'Riah', 'Paul'],
         'algol' : [ "A", "A+", "B"],
         'basic' : [ "C", "B", "B+"],
          'c++' : [ "B+", "C", "C+"]}

data2 = {'c0':[1,2,3], 
         'c1':[4,5,6], 
         'c2':[7,8,9], 
         'c3':[10,11,12], 
         'c4':[13,14,15]}

df = pd.DataFrame(data1)
df = df.set_index('name')      #name 열을 인덱스로 지정
df.to_excel('./data/excel_0423.xlsx')
df.to_excel('./data/excel_index_false_0423.xlsx', index=False)

In [68]:
df2 = pd.DataFrame(data2)
df2 = df2.set_index('c0')
df2

    c1  c2  c3  c4
c0
1    4   7  10  13
2    5   8  11  14
3    6   9  12  15

In [ ]:
with pd.ExcelWriter('./data/excel_2_sheet.xlsx') as writer:
    df.to_excel(writer, sheet_name = '점수')
    df2.to_excel(writer, sheet_name = '가중치')