In [ ]:
# 판다스 용도
## 데이터 수집 정리하는 역할
# 자료 형식
## 시리즈, 데이터프레임
# 판다스의 목적
## 서로 다른 여러가지 유형의 데이터를 공통의 포멧으로 정리하는 것

1. 시리즈
    1.1 1 1차원 배열
    1.2 리스트,튜플,딕셔너리를 시리즈로 만들수 있다. pd.Series()
    1.3 리스트, 튜플은 index를 지정하지 않으면 0,1,2
    1.4 딕셔터리에서 key는 index, value는 data가 된다.

In [117]:
#라이브러리 불러오기
import pandas as pd
#k:v 구조를 갖는 딕셔너리를 만들고, 변수 dict_data에 저장
dict_data = { 'a': 1, 'b':2, 'c':3}
#판다스 Series() 함수로 딕셔너리(dict_data)를 시리즈로 변환. 변수 sr에 저장
sr = pd.Series(dict_data)
print(type(sr))
print(sr)

<class 'pandas.core.series.Series'>
a    1
b    2
c    3
dtype: int64

In [100]:
list_data = list(range(10,101,10))
print (list_data)
[10,20,30,40,50,60,70,80,90,100]

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [102]:
#리스트 자료를 시리즈(sr) 로 만들기
list_data = [100, 200, 300]
list_sr = pd.Series(list_data, index=['a', 'b', 'c'])
print(list_sr)

a    100
b    200
c    300
dtype: int64

In [104]:
#튜플 자료를 시리즈로 만들기
tuple_data = (100,400)
tuple_sr = pd.Series(tuple_data,index=['a','b'])
print(tuple_sr)

a    100
b    400
dtype: int64

In [106]:
list_data = ['2019-01-02', '3.14', 'ABC', 100, True]
sr = pd.Series(list_data)
sr_index = sr.index
sr_values = sr.values
print(sr.shape) ##중요 컴퓨터비젼에서 데이터 내용 파악할때 많이 쓰는 명령어
print(sr.ndim)

(5,)
1

In [108]:
#리스트 -> 시리즈
#시리즈 -> 리스트
# 리스트 -> 시리즈
# 시리즈 -> 리스트

dic_data = {"딸기": 5000, "바나나": 3000}  # 중괄호로 수정
sr_fruits = pd.Series(dic_data)          # 변수명 오타 수정
print(sr_fruits)

fruits = sr_fruits.index
price = sr_fruits.values

print("상품명:", fruits)
print("상품의 가격:", price)

딸기     5000
바나나    3000
dtype: int64
상품명: Index(['딸기', '바나나'], dtype='object')
상품의 가격: [5000 3000]

In [110]:
#그림 1-5 코드 해보기
num_list = list(range(10,62,10)) #[10,20,30,40,50,60,]
i_list = ['a','b','c','d','e','f']
sr010 = pd.Series(num_list, index = i_list)
print(sr010)

a    10
b    20
c    30
d    40
e    50
f    60
dtype: int64

In [112]:
tup_data = ('영인', '2010-05-01', '여', True)
sr = pd.Series(tup_data, index=['이름', '생년월일', '성별', '학생여부'])

print(sr['이름'])                  # 단일 인덱스 접근
print(sr[['성별', '생년월일']])    # 여러 인덱스 접근 (리스트로)

#만약 학생이면 이름과 생년월일을 출력하고
#아니면 이름만 출력하세요

# 조건에 따라 출력
if sr['학생여부']:  # 학생이면 True
    print(sr[['이름', '생년월일']])
else:
    print(sr['이름'])

#이름 인덱스 부터 성별 인덱스까지 연속적인 인덱스 자료 선택하기
print(sr['이름':'성별'])

영인
성별               여
생년월일    2010-05-01
dtype: object
이름              영인
생년월일    2010-05-01
dtype: object
이름              영인
생년월일    2010-05-01
성별               여
dtype: object

In [126]:
pd.empty = pd.Series() #빈시리즈 만들기
#print (sr_emptu)
sr_5 = pd.Series(5)
sr_5 = pd.Series(5,index=[100,200,300])
print(sr_5)
#데이터 0 인덱스 0~100 시리즈 만기기

index_list_0100 = list(range (0,101,1))
sr_0 = pd.Series(0, index = index_list_0100)
print(sr)

100    5
200    5
300    5
dtype: int64
0     0
1     0
2     0
3     0
4     0
     ..
95    0
96    0
97    0
98    0
99    0
Length: 100, dtype: int64

In [158]:
#문제1) 시리즈 생성
#리스트 [100, 200, 300, 400, 500]를 사용해서 인덱스가 'a', 'b', 'c', 'd', 'e'인 시리즈를 만들어 출력하시오.
dict_data = { 'a': 100, 'b':200, 'c':300, 'd':400, 'e':500}
#판다스 Series() 함수로 딕셔너리(dict_data)를 시리즈로 변환. 변수 sr에 저장

# 문제1
q_list = [100,200,300,400,500]
q_index = ['a', 'b', 'c', 'd', 'e']
s = pd.Series( q_list, index = q_index ) 
print( s )

a    100
b    200
c    300
d    400
e    500
dtype: int64

In [136]:
#문제2) 값 선택 및 슬라이싱
#아래 시리즈에서 인덱스 'b'와 'd'에 해당하는 값을 출력하시오.
s = pd.Series([10, 20, 30, 40, 50], index=['a', 'b', 'c', 'd', 'e'])
print(s[['b','d']])

b    20
d    40
dtype: int64

In [138]:
#문제3) 조건 필터링
#다음 시리즈에서 값이 30보다 큰 데이터만 출력하시오.

import pandas as pd
s = pd.Series([15, 25, 35, 45, 55], index=['A', 'B', 'C', 'D', 'E'])
print(s[s>30])

C    35
D    45
E    55
dtype: int64

In [160]:
#문제4) 연산 적용
#아래 시리즈에 10을 더한 새로운 시리즈를 만들어 출력하시오.

import pandas as pd
s = pd.Series([5, 10, 15, 20, 25])

# 10을 더한 새로운 시리즈 생성
s_new = s + 10

# 결과 출력
print(s_new)

0    15
1    20
2    25
3    30
4    35
dtype: int64

In [162]:
#문제5) 딕셔너리로 시리즈 만들기 & 값 접근
#다음 딕셔너리를 시리즈로 만들고 'Python' 과목 점수를 출력하시오.

scores = {
    'Python': 95,
    'Math': 88,
    'English': 76,
    'History': 82
}

s = pd.Series(scores)

# 'Python' 과목 점수 출력
print(s['Python'])

95

In [164]:
#문제6) 시리즈 인덱스 변경
#아래 시리즈의 인덱스를 'A', 'B', 'C', 'D', 'E'로 바꿔서 출력하시오.

import pandas as pd
s = pd.Series([12, 24, 36, 48, 60])
s.index = ['A', 'B', 'C', 'D', 'E']
print(s)

A    12
B    24
C    36
D    48
E    60
dtype: int64

In [202]:
#문제7) 시리즈 값의 평균 구하기
#다음 시리즈의 평균값을 계산하시오.

import pandas as pd

s = pd.Series([80, 90, 75, 95, 88])
print(s.mean())

85.6

In [186]:
#문제8) 시리즈 정렬
#아래 시리즈를 값 기준으로 오름차순 정렬하여 출력하시오.

import pandas as pd
s = pd.Series([42, 16, 58, 33, 95])
print(s.sort_values())

1    16
3    33
0    42
2    58
4    95
dtype: int64

In [196]:
#문제9) 시리즈 NaN 처리
#다음 시리즈에서 NaN을 0으로 채운 새로운 시리즈를 만들어 출력하시오.

import pandas as pd
import numpy as np

s = pd.Series([10, np.nan, 30, np.nan, 50])  # np.nan은 숫자가 아니다
s_mean = s.mean()  # 평균값을 변수에 저장
print(s_mean)

s_0 = s.fillna(s_mean)
print(s_0)

30.0
0    10.0
1    30.0
2    30.0
3    30.0
4    50.0
dtype: float64

In [204]:
#문제10) 시리즈 불린 인덱싱
#다음 시리즈에서 True인 인덱스만 출력하시오.

import pandas as pd

s = pd.Series([True, False, True, False, True], index=['A', 'B', 'C', 'D', 'E'])
print(s[s].index)
index(['a','c','e']) dtype='object')

SyntaxError: unmatched ')' (887565870.py, line 8)

In [206]:
s_num = [10,30,20,100]
#시리즈로 만들기
sr = pd.Series(s_num)
sr[sr>=30]

1     30
3    100
dtype: int64

In [212]:
#문제2
# food와 rating 컬럼만 선택하여 출력
data = {'food': ['KFC', 'McDonald', 'SchoolFood'], 'pirce': [1000, 2000, 2500], 'rating': [4.5, 3.9, 4.2]}
df = pd.DataFrame(data)
print(df[['food', 'rating']])

         food  rating
0         KFC     4.5
1    McDonald     3.9
2  SchoolFood     4.2

In [214]:
#문제3
#food 컬럼명을 place로 컬럼명을 변경해 주세요
data = {'place': ['KFC', 'McDonald', 'SchoolFood'], 'pirce': [1000, 2000, 2500], 'rating': [4.5, 3.9, 4.2]}
df = pd.DataFrame(data)
print(df)

        place  pirce  rating
0         KFC   1000     4.5
1    McDonald   2000     3.9
2  SchoolFood   2500     4.2